@use 'mixins';

.education-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.education__titlebox {
    @include titlepadd-lg;
    display: flex;
    justify-content: center;
    width: 100%;
}
.education__title {
    display: flex;
}
.education__title h2 {
    @include title;  
}
.education {
    @include tealshadow-s;
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 90%;
    padding: 40px 10px 20px 10px;
}
.education__first, 
.education__last  {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.education__icon {
    display: flex;
    justify-content: center;
}
.education__programs, 
.education__courses {
    display: flex;
    justify-content: center;
}
.education__programs, 
.education__courses h5 {
    @include titlepadd-lg;
}

.education {
    h6 {
        font-weight: 200;
    }
    i {
        font-size: 50px;
        margin-top: 15px;
    }
}
.education__items {
    display: flex;
    flex-direction: column;
    text-align: center;
}
