@use 'fonts';
@use 'mixins';

.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-height: 100vh;
    flex-direction: column;
    padding-top: 130px;
}
.card {
    @include tealshadow;
    width: 90%;
    min-height: 550px;
    display: flex;
    justify-content: center;
    background-color: $blackish;
    flex-direction: column;
    display: flex;
    padding-left: 40px;
    align-items: center;
    border-radius: 10px;
}
.card__text {
    width: 100%;
    padding: 30px 25px 30px 25px;
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    border-right: 1px solid var(--dark-red-color);
}
.card__text span {
    color: $white;
    font-size: 30px;
    padding: 5px;
    margin: 20px 0;
    font-weight: 400;
}
.card__text .tag {
    opacity: 0.5;
    font-size: 15px;
}
.card__text h1 {
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 1.5;
    line-height: 35px;
    font-weight: 600;
}
.card__text h5 {
    font-size: 20px;
    font-weight: 300;
}
.card__image {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}
.card__image img {
    @include tealshadow;
    max-height: 300px;
    max-width: 300px;
    border-radius: 50%;
}
.card__image:hover {
    transform: scale(1.08);
    transition: 0.5s;
}
.card__iconbox {
    display: flex;
    min-height: 70px;
    align-items: flex-end;
    justify-content: center;
}
.card__icons {
    display: flex;
    justify-content: space-between;
    width: 50%;
}
.card__icons a {
    text-decoration: none;
    font-size: 24px;
}
.circle-icon {
    border-radius: 50%;
    display: flex;
    text-align: center;
    border: 2px solid $teal;
    padding: 8px;
}
.card__cv {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
}
.card__cv h6 {
    font-size: 15px;
    margin: 20px 0;
    font-weight: 300;
    margin-right: 2px;
}
.card__cv i {
    margin-top: 8px;
    font-size: 25px;
    color: $teal;
}
.card__cv i:hover {
    color: $white;
    cursor: pointer;
}
.card__icons i:hover {
    @include iconhover;
}
.main__scroll {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    min-height: 150px;
    margin-bottom: 15px;
}
.main__scroll i {
    font-size: 25px;
    opacity: 0.6;
}
.main__scroll i:hover {
    opacity: 1;
    color: $teal;
}
.top {
    --offset: 50px; 
    float: right;
    position: sticky;
    bottom: 70px;      
    margin-right:20px; 
    place-self: end;
    padding: 10px;
    color: $white;
    white-space: nowrap;
}
.top i {
    font-size: 25px;
}

@media (min-width: 320px) {
    .card {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: teal;
        padding: 0;
    }
    .card__text {
        width: 100%;
        margin-right: 0;
    }
    .card__image img {
        max-width: 170px;
        padding-right: 0;
    }
}

  
  
  
