@use 'mixins';

@media  screen and (max-width: 1327px) {
    .card {
        width: 70%;
    }
    .about__skillbox {
        min-width: 780px;
    } 
}
@media screen and(max-width: 930px) {
    .card {
        width: 90%;
    }
    .about__skillbox {
        flex-direction: column;
    }   
}
@media screen and(max-width: 768px) {
    .card {
        flex-direction: column;
        justify-content: center;
    }
    .card__text {
        margin-top: 40px;
    }
    .card__icons {
        width: 70%;
    }
    .card__image {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .about__skillbox {
        flex-direction: column !important;
    }
    .card__text {
        width: 90%;
    }
    .about {
        min-width: 350px;
    } 
    .education {
        flex-direction: column;
        align-items: center;
    }
    .carousel  {
        min-width: 500px;
    }
    .layoutgrid {
        min-width: 500px;
    }

}

@media (min-width: 768px) {
    .hamburger {
        display: none;
    }
    .menu {
        display: flex;
    }
}
