@mixin title {
    font-size: 25px;
    letter-spacing: 2px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: underline solid $teal;
    text-underline-offset: 12px;
    margin-bottom: 15px;
}
@mixin title-mobile {
    font-size: 10px;
    letter-spacing: 2px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: underline solid $teal;
    text-underline-offset: 12px;
    margin-bottom: 15px;
}
@mixin small-title {
    font-size: 20px;
    letter-spacing: 1.7px;
    font-weight: 300;
    text-transform: uppercase;
}
@mixin smallest-title {
    font-size: 15px;
    letter-spacing: 1.7px;
    font-weight: 200;
}
@mixin small-text {
    font-size: 17px;
    letter-spacing: 1.2px;
    font-weight: 400;
}
@mixin containerpadd-lg {
    padding: 60px 40px 60px 40px;
}
@mixin titlepadd-lg {
    padding: 30px 0px 30px 0px;
}
@mixin containerpadd-md {  
    padding: 20px 40px 70px 40px;   
}
@mixin tealshadow {
    box-shadow: 0px 0px 5px 5px $teal;
}
@mixin tealshadow-s {
    box-shadow: 0px 0px 2px 2px $teal;
}
@mixin iconhover {
    color: $teal;
    transform: rotate(360deg);
    -webkit-transition: -webkit-transform 1s ease-in;
}


