@use 'mixins';

.containerskills {
    @include containerpadd-md;    
}
.aboutcontainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.skills__title {
    @include title;
    text-align: center;
    margin-top: 20px;
    padding: 20px 0;
}
.skills__title h2 {
    @include title;
}
.about__skills {
    display: flex;
    margin-top: 30px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.about__skills h2 {
    @include title;
    color: $white;
    text-align: center;
    width: 100%;
}
.about__skill {
    @include tealshadow-s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $dark;
    min-width: 170px;
    min-height: 170px;
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 10px;
}
.about__skill i {
    font-size: 60px;
}
.about__skill h6 {
    @include smallest-title;
    padding-top: 10px;
}
.about__skill:hover {
    transform: scale(1.1);
    transition: 0.5s;
}
@media screen and (min-width: 1174px) {
    .about__skills {
        flex-direction: row;
    }
}
@media (orientation: landscape) {
  .about__skills {
        flex-direction: row;
    }
}