@use 'mixins';
@use 'colors';

.websites {
  @include containerpadd-lg;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
.websites__title {
  @include titlepadd-lg;
  width: 100%;
}
.carousel-container {
  display: flex;
  justify-content: center;
}
.carousel  {
  width: 50%;
}
.websites__title h2 {
  @include title;
  margin-bottom: 10px;
}
.webb__info {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.webb__info h5 {
  font-weight: 200;
  font-size: 15px;
  margin-bottom: 10px;
}
.webb__info i {
  font-size: 35px;
  padding: 15px 0px 15px 0px;
}
.webbutton:hover {
  @include iconhover;
}