@use 'fonts';
@import 'fonts';
@import 'colors';
@import 'mixins';
@import 'header';
@import 'main';
@import 'media';
@import 'about';
@import 'skills';
@import 'websites';
@import 'layoutgrid';
@import 'artgrid';
@import 'footer';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $main-font;
    color: $white;
    line-height: 1.5;
}
html {
    height: 100%;
}
html,
  body {
    scroll-behavior: smooth;
    overflow-x: hidden;
}
  
  
body {
    background-color: $blackish;
    width: 100%;
}