@use 'fonts';
@import 'fonts';
@import 'colors';
@import 'mixins';
@import 'header';
@import 'main';
@import 'media';
@import 'about';
@import 'skills';
@import 'websites';
@import 'layoutgrid';



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $main-font;
    color: $white;
    line-height: 1.5;
}
body {
    background-color: $blackish;
}